<!DOCTYPE html>
<html>
  <head>
    <title>private!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>private!</h1>
    <p>Welcome to private!</p>
  </body>
</html>
