<!DOCTYPE html>
<html lang="en">
  <head>
    
      <title>Registrate</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
  <body>
<h2>Create un usuario</h2>
    <div id="container">
      <form method="POST">
        <label for="email">Email:</label>
        <input class="input" type="text" name="email" placeholder="example@example.com" />
        <br />
        <br>
        <label for="password">Password:</label>
        <input class="input" type="password" name="password" placeholder="*******" />
        <br />
        <br>
        <button>Registrate</button>
      </form>
    </div>
  </body>
</html>
